@import "tailwindcss";

:root {
  --background: #f8fafc;
  /* Slate 50 for light mode */
  --foreground: #0f172a;
  /* Slate 900 for text */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    /* Slate 900 for dark mode */
    --foreground: #f8fafc;
    /* Slate 50 for text */
  }
}

:root.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Force light mode even if system prefers dark */